<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-5" style="background-color:white;">
 <div class="col-md-3 mb-3">
 <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(3, 27, 1);"> kamau</h5>
          <p class="card-text"> description</p>
          <p class="card-text">Location: </p>
          <p class="card-text">Price: </p>
 </div>


        <!-- <div class="card-footer text-muted">
          <mat-card-actions>
            <button mat-button class="btn btn-outline-warning btn-sm">Like</button>
            <button mat-button (click)="viewUnits()" class="btn btn-outline-success btn-sm">View Units</button>
            <button mat-button (click)="editProperty(property)" class="btn btn-danger btn-sm">edit</button>
            <button mat-button (click)="deleteProperty(property)" class="btn btn-danger btn-sm">Delete</button>

          </mat-card-actions> 
        </div>
-->
      </div>
    </div>
  </div>
</div>